{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class ="container" id ="listings" style="margin-top: 30px; max-width: 100%;">

        {% for i in items%}
            
            <div class="container" style="max-width: 100%; border: 1px solid black; margin: 10px;">

                <div class="row">

                    <div class="col-sm" style="align-items: center;">
                        <img src="{{i.pic}}" alt="" height="400px" width="450px" style="padding: 5px; border-radius: 30px; padding: 15px;">
                    </div>

                    <div class="col-sm" style="padding-left: 15px; padding-top: 5px;">
                        <h1>{{i.title}}</h1>
                        <br>
                        <h5>Owner: {{i.owner}}</h5>
                        <h5>Category: {{i.category}}</h5>
                        <br>
                        <h2>${{i.price}}</h2> 
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <a href="{% url 'listing' i.pk %}"><button type="submit" class="btn btn-primary">View</button></a>
                    </div>

                    <div class="col-sm" style="padding-top: 5px;">
                        <p>{{i.description}} </p>
                        <br>
                        <br>
                        
                    </div>
                
                </div>
                
               

            </div>

          

        {%endfor%}


    </div>

{% endblock %}